<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Robot library checker</title>

</head>


<body>

<div class="logo">
    <h1>Robot library checker</h1>
</div>
<div class="panel">
    <div id="libraries">
        <ul>
            <li>Library</li>
            <hr>
            <li>Library</li>
            <hr>
            <li>Library</li>
            <hr>
            <li>Library</li>
        </ul>

    </div>
    <div id="books">
        Here we will see the list of books
    </div>
</div>
</body>
</html>